fastapi
uvicorn[standard]
motor
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
websockets
faster-whisper
langgraph
langchain
langchain-core
langchain-openai
langchain-groq
langchain-community
langchain-huggingface
chromadb
sentence-transformers
numpy
httpx
gTTS
pytest
pytest-asyncio
pymupdf
